/* @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); */

a {
    color: #404040;
}

div.col-4 {
    background-color: #F8F8F8;
    padding: 0;
}

.col-4 ul {
    padding: 0;
}

body {
    font-family:'微軟正黑體', 'Shadows Into Light', cursive;
}

button {
    width: 100%;
    padding: 10px;
    margin: 0px auto;
    border: 0 solid black;
    background-color: white;
    /* transition: box-shadow 1s; */
    background: transparent;
  }
  button:hover {
    background-color:#cfe8ff;
  }

  .btn {
    width: 200px;
    padding: 12px;
    margin: 12px;
    border: 0px solid black;
    background-color: white;
    background: transparent;
    /* transition: box-shadow 0.3s; */
    cursor: pointer;
    position:absolute;
    right:0px;
  }

  /* .btn {
      
    box-shadow: #b9b4b4 0px 2px 2px 2px;
  } */
